<div class="carte-container">
  <div class="carte" id="<%= dom_id poisson %>">
    <div class="recto">
      <div class="parents">
        <div class="wave-card">
          <img class="fish" style="width: 70%; height: 200px;" src="<%= poisson.image %>" alt="illustration de la carte">

          <% 3.times do %>
            <div class="wave care"></div>
          <% end %>

          <h3 class="wave-card-title"> <%= poisson.name %></h3>
            
          <div class="pricerarenutri">
            <p class="wave-card-subtitle"><%= poisson.price %>€</p>
            <p class="rarity"><%= poisson.rarity %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="verso">
      <div class="parents">
        <div class="wave-card">
          <% 3.times do %>
            <div class="wave care"></div>
          <% end %>
            
          <h3 class="wave-card-title"><%= poisson.name %></h3>
          <p class="descriptionn"><%= poisson.description %></p>
          <%= link_to "Modifier", edit_poisson_path(poisson), class:"btn btn-warning" %>
          <%= button_to "Supprimer", poisson, method: :delete, class:"btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>