

  <div class="carte-container">
    <div class="carte" id="carte1">
      <div class="recto">
        <img class="fish" style="width: 70%; height: 200px;" src="<%= poisson.image %>" alt="illustration de la carte">
        <h3 class="wave-card-title"> <%= poisson.name %></h3>
          
        <div class="pricerarenutri">
          <p class="wave-card-subtitle"><%= poisson.price %>€</p>
          <p class="rarity"><%= poisson.rarity %></p>
        </div>
      </div>
      <div class="verso">
        
        <h3 class="wave-card-title"><%= poisson.name %></h3>
        <p class="descriptionn"><%= poisson.description %></p>
       <%= link_to "Modifier", edit_poisson_path(poisson), class:"btn btn-warning" %>
      <%= button_to "Supprimer", poisson, method: :delete, class:"btn btn-danger" %>
   </div>
    </div>
  </div>




  <style>
    @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

    body {
      display: grid;
      height: 100%%;
      font-family : 'Alata';

    }
    
    h1{
      font-size: 7rem;
      color: #fff;
    }

    .carte-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Trois cartes par ligne */
      gap: -1rem; /* Espacement entre les cartes */
    }

    .carte {
      perspective: 1000px;
      position: relative;
    }

    .recto,
    .verso {
      width: 13rem;
      height: 18rem;
      display: flex;
      flex-direction: column; /* Ajout de cette propriété pour centrer le contenu */
      align-items: center; /* Ajout de cette propriété pour centrer le contenu */
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
      position: absolute;
      backface-visibility: hidden;
      transition: transform 0.5s;
    }

    .recto {
      background-color: #3498db;
      color: #fff;
    }

    .verso {
      background-color: #e74c3c;
      color: #fff;
      transform: rotateY(180deg);
    }

    .carte:hover .recto {
      transform: rotateY(180deg);
    }

    .carte:hover .verso {
      transform: rotateY(0deg);
    }


    .card{
      background-color: transparent;
      border: none; 
    }

    .background-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: -1;
      filter: blur(3px);
    }

    .content-container {
      padding-top: 50px; 
      overflow-y: auto;
      text-align: center;
    }

    .img_pierick{
    height: 25rem;
    width: 40rem;
    object-fit: cover;
    }

    .texte-survol {
    position: relative;
    bottom: 8rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    visibility: hidden;
    color: #000;
    border: 1px solid black;
    padding: 5px;
    margin-left: 30rem;
    margin-right: 30rem;
    }

    .container:hover .texte-survol {
    visibility: visible;
    }


  /*btn*/

    .edit_delet {
      justify-content: center;
      padding-top: 19rem;
      margin: 1rem;
      margin-right: 16rem;
    }

    .verso .btn{
      margin: 1rem;
    }

    a {
      text-decoration: none;
      background-color: yellow;
      color: #000;
    }

    .verso .btn{
        padding: 10px;
        margin-top: auto;
    }
</style>