<p style="color: green"><%= notice %></p>


<h1><%= @poisson.name %></h1>

<div class="container col-lg-4">

  <div>
    <%= render @poisson %>
  </div>


  <div class="edit_delet">
    <%= link_to "Modifier", edit_poisson_path(@poisson), class:"btn btn-warning" %>
    <%= button_to "Supprimer", @poisson, method: :delete, class:"btn btn-danger" %>
   <%= link_to "Retour", poissons_path, class:"btn btn-primary" %>
</div>
  
</div>

<style>
/*btn*/

.edit_delet {
  justify-content: center;
  padding-top: 19rem;
  margin: 1rem;
  margin-right: 16rem;
}

.verso .btn{
  margin: 1rem;
      padding: 10px;
    margin-top: auto;
}

.btn_create {
  text-decoration: none;
  border-radius: 5px;
  background-color: yellow;
  color: #000;
  margin: 1rem;
}

</style>